*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #15414b;
}

// ANIMATION
// @keyframes animateText {
// 	0% {
// 		background-position: 0% 100%;
// 	}
// 	50% {
// 		background-position: 100% 0%;
// 	}
// 	100% {
// 		background-position: 0% 100%;
// 	}
// }

.disappear{
    animation: disappear 0.5s linear forwards;
}

@keyframes disappear {
    0%, 70% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}